
<!-- <div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="assets/productImages/logo.png" />
  <span>Product Info</span>
    <div class="spacer"></div>
    <span id="welcome">Welcome <strong>Kumar Atul</strong>
    </span>
</div>

<div class="content" role="main">  
<div class="menu-container">
  <div class="nav-menu" >
    <button (click)="toggleSideMenu()" > ||| </button>
    
    <ul>  
          <li> <a routerLink="Home" >Home</a>  </li>
          <li> <a routerLink="AboutUs" >About Us</a> </li>
          <li> <a routerLink="ProductInfo" >Product Info</a> </li>
          <li> <a routerLink="ContactUs" >Contact Us</a> </li> 
    </ul>
 </div>     
  
    <div *ngIf="showSideMenu" class="side-menu">
      <ul >  
        <li> <a (click)="toggleSideMenu()" > x </a>  </li>
        <li> <a (click)="toggleSideMenu()"  routerLink="Home" >Home</a>  </li>
          <li> <a (click)="toggleSideMenu()"  routerLink="AboutUs" >About Us</a> </li>
          <li> <a (click)="toggleSideMenu()"  routerLink="ProductInfo" >Product Info</a> </li>
          <li> <a (click)="toggleSideMenu()"  routerLink="ContactUs" >Contact Us</a> </li> 
      </ul>
  </div>
  
</div>

<div style="min-width: 100%;" > 
<router-outlet></router-outlet>
</div>  
  <footer>
      product-info @2020 
  </footer>
 
</div>
  -->



<!-- Custom View -->
<div>

  <productAd-page> </productAd-page>
</div>
 