 
<div class="row">

    <div class="col-md-12 firstSection">

        <img src="{{sampleImagePath}}">
        
        <!-- <section>
            <ngx-slick-carousel #SM class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let slide of slideImages" class="slide"> 
                  <section  >
                    <img src="{{slide.image}}" width="100%">
                  </section>  
              </div>
            </ngx-slick-carousel> 
          </section> -->
    </div>

    <div class="col-md-12 secondSection">
        <video   controls autoplay [muted]="'muted'" loop>
            <source src="{{videoPath}}" type="video/mp4"> 
            Your browser does not support the video tag.
          </video>
    </div>

    <div class="col-md-12 thirdSection">
        <marquee>
            <p> For any query please reach out to: 90xxxxxxxx, 89xxxxxxxx. Or write us on xyz@product-ad.com</p>
    
        </marquee>
       </div>

</div>