

  .backgroundDiv{

    background: url("src/assets/Images/background.jpg") no-repeat  fixed center;
    background-size: cover;
    /* height: 1080px; */
    height: 900px;
    text-align: center !important;
    z-index: 1;
    /* margin-top: 800px; */
    padding-top: 700px;
    width: 100%;
    
  }

  .containerDiv
  {
    z-index: 1111;
      width: 100%;
      background-color: transparent;
      text-align: center !important;
      border:2px solid blue; 
      height: 600px;
    
  }
  .contentDiv{
    z-index: 1111;
    background: transparent;
    width: 70%;
    border:2px solid maroon;
    align-self: center;
    /* margin-top: 500em; */
  }